
            <h3>Update Venue</h3>
            <form action="/admin/venue/update/{{content.uuid}}" method="post" id="content-form"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="font-italic" for="venueName">Venue Name</label>
                            <br>
                <input type="text" class="form-control" name="venueName" placeholder="Star Theatre, Star Gallery, Star Lodge, Star Loft, Star Terrace..." value="{{ content.venueName }}" required>

                        </div>
            
                        <div class="form-group mb-4">
                            <label class="font-italic" for="venueStory">Venue Story</label>
                            <textarea class="form-control" id="venueStory" name="venueStory" placeholder="Located in a cooling and refreshing open space.." required>{{content.venueStory}}</textarea>
                        </div>
                    </div>
            
                    <div class="form-group col">
                        <label class="font-italic" for="venuePoster">Venue Poster</label>
                        <br>
                        <input onchange="return fileValidation()" type="file" id="file" name="venuePoster" accept="image/png,image/jpeg,image/jpg,image/gif">
                        <!-- Image preview -->
                        <div id="imagePreview"></div>
                        <br>
                        <p>Original poster:</p>
                        <img src="/{{content.venuePoster}}" alt="Poster unavailable">
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="row mb-2">
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <label class="font-italic">Venue Price($)</label>
                            <br>
                            <input type="number" class="form-control" value="{{content.venuePrice}}" name="venuePrice" placeholder="6000, 7500, 9000, 10500 etc..... Do not enter $"
                                required>

                        </div>
            
                    </div>
                </div>
            
                <br>
            
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-primary" href="/admin/venue/retrieve">Cancel</a>
            </form>
            
<script>
    // 1. Variable is correct x.ssss
    // 2. value or default date assigned to a string
    var dateToday = new Date();
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        minDate: dateToday
    });


    function fileValidation() {
        var fileInput = document.getElementById('file');

        var filePath = fileInput.value;

        // Allowing file type
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
        else {
            // Image preview if the uploaded file extension follows the file type.
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(
                        'imagePreview').innerHTML =
                        '<img src="' + e.target.result
                        + '"/>';
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }

</script>