<link rel="stylesheet" href="/public/css/payment.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 bg-light pb-5">
                    <div class="row px-3 justify-content-center mt-5 mb-2"> 
                        <img src="/{{content.concertPoster}}" class="image"> 
                    </div>
                    <div class="row px-3 text-center justify-content-center mb-4">
                        <h4>{{content.concertName}}</h4> 
                    </div>
                    <div class="row px-3 text-center justify-content-center mb-2">
                        <h5>{{content.concertStory}}</h5>
                    </div>
                    <div class="row px-3 text-center justify-content-center mb-2">
                        <h5>{{content.concertTime}}</h5>
                    </div>
                    <div class="row px-3 text-center justify-content-center mb-2">
                        <h5>{{content.concertDate}}</h5>
                    </div>
                    <div class="row px-3 text-center justify-content-center mb-2">
                        <p class="mb-0">No video recording and audio recording allowed.</p>
                        <p>Only 18 years old and above are allowed.</p>
                    </div>
                    <div class="row px-3 text-center justify-content-center mb-2">
                        <h5 class="mr-5 pr-5">Standard</h5> 
                        <h5>${{content.concertPrice}}</h5>
                    </div>
                    <br>
                    <form action="/stream/payment/{{content.uuid}}" id="form1" method="post">
                        <h1>NETS QR</h1>
                        <h1>Please enter the numeric amount to pay IN CENTS and then click "Generate Qr Code if you are ready"</h1>
                        <input type="number" placeholder="Price x 100" value="{{content.concertPrice}}" name="amount" id="price">
                        <img src="null" id="qr_code">
                        <br>
                        <p>Web page redirects after 5 seconds upon successful payment.</p>
                        <br>

                    </form>
                    <button onclick="generate_qr_code(null)">Generate Qr Code if you are ready</button>



                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changeImage(){
        document.getElementById("qr_code").src = "/public/img/redCross.png";
    }
    function show_alert() {
            alert("Thank you for your payment!");
    }

    /**
     * Make a request to generate the QR code
     * @param {InputEvent} event
     **/
    async function generate_qr_code(event) {
                // payment.mjs/generate route

        const response = await fetch("/payment/generate", {
            headers: {
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify({
                amount: document.getElementById("price").value
            })
        });
        if (response.ok) {
            const content = await response.json();
            preview_qr_code(content.qr_code);

            //	Start auto ping
            setTimeout(ping_transaction_status, 1000, 0, content);
        }
    }

    /**
     * Displays the QR code
     * @param {string} qr_code
     **/
    function preview_qr_code(qr_code) {
        document.getElementById("qr_code").src = `data:image;base64,${qr_code}`;
    }

    /**
     * Make a HTTP request to query the generated transaction
     * @param {JSON}   transaction
     * @param {number} attempt
     **/
    async function ping_transaction_status(attempt, transaction) {
        // wait for 5 seconds for cancelling 
        if (attempt > 5)
            return void_transaction(transaction);

        try {
            const response = await fetch("/payment/query", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    txn_identifier: transaction.txn_identifier,
                    transaction_date: transaction.transaction_date,
                    transaction_time: transaction.transaction_time,
                    stan: transaction.stan,
                    amount: transaction.amount
                })
            });

            if (!response.ok) { throw new Error("Failed to query transaction"); }
            const content = await response.json();
            const status = content.status;

            switch (status) {
                case 0:
                    console.log(`Awaiting for payment: ${attempt}`);
                    return setTimeout(ping_transaction_status, 1000, attempt + 1, transaction);
                    break;

                case 1:
                    console.log(`Payment succeeded`);
                    document.getElementById("qr_code").src = `/public/img/greenTick.jpg`;
                    // redirecting to myPurchases page in 5 seconds
                    setTimeout(function () {

                        $("#form1").submit();
                    }, 5000);
                    break;
                case -1:
                    console.log(`Payment cancelled`);
                    // Hide qr code, set image to X
                    changeImage();

                    break;
            }
        }
        catch (error) {
            console.error(error);
            console.error(`Failed to ping transaction :${transaction.txn_identifier}`);
        }
    }


    async function void_transaction(transaction) {
        try {
            const response = await fetch("/payment/void", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    txn_identifier: transaction.txn_identifier,
                    transaction_date: transaction.transaction_date,
                    transaction_time: transaction.transaction_time,
                    stan: transaction.stan,
                    amount: transaction.amount
                })
            });

            if (!response.ok) { throw new Error("Failed to void transaction"); }
            const content = await response.json();
            const status = content.status;

            switch (status) {
                case 1:
                    console.log(`Transaction cancelled successfully`);
                    // TODO: Do any UX changes here
                    changeImage();

                    break;

                default:
                    console.log(`No action required`);
                    break;
            }
        }
        catch (error) {
            console.error(error);
            console.error(`Failed to void transaction :${transaction.txn_identifier}`);
        }
    }
</script>