<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="row">
    {{#if streams}}

    <div class="card card-body">
        <h3 class="text-primary">Streams Created By Me</h3>
        {{#each streams}}
        <div class="card border-primary mb-2 w-100 mx-auto">
            <div class="card-header">
                <h5 class="card-title">{{concertName}}</h5>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-2">
                    {{!-- / must be in front cuz absolute address --}}
                    <img src="/{{concertPoster}}" alt="Poster unavailable" class="img-thumbnail img-fluid">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <p class="font-italic">Artist Name </p>
                            <p class="text-info">{{artistName}}</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <p class="font-italic">Concert Time</p>
                            <p class="text-info">{{concertTime}}</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p class="font-italic">Concert Price</p>
                            <p class="text-info">{{concertPrice}}</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <p class="font-italic">Concert Date</p>
                            <p class="text-info">{{ concertDate }}</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <p class="font-italic"></p>
                            <a href="/stream/update/{{uuid}}" class="card-link">
                                <i class="fas fa-pencil-alt"></i>
                                Edit
                            </a>
                            <form method="POST" action="/stream/delete/{{uuid}}?_method=DELETE"
                                >
                                <a href="javascript:;" class="card-link btn-delete"
                                    onclick="if (confirm('Confirm delete?')) parentNode.submit();"
                                    data-title="Confirm delete?">
                                    <i class="far fa-trash-alt"></i>
                                    Delete
                                </a>
                            </form>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <a href="/comments/create/{{uuid}}">stream</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion" id="storyAccordion">
                <div class="card-header" id="heading-{{uuid}}">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{uuid}}"
                        aria-expanded="false" aria-controls="collapse-{{uuid}}">
                        Story<i class="fas fa-chevron-down"></i>
                    </button>
                </div>

                <div id="collapse-{{uuid}}" class="collapse" aria-labelledby="heading-{{uuid}}"
                    data-parent="#storyAccordion">
                    <div class="card-body">
                        {{concertStory}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!-- Page management, can ignore first -->

{{else}}
<h3>No Concerts jotted</h3>
{{/if}}