<div class="card mb-3">
	<div class="d-flex flex-column align-items-center text-center mt-5 mb-5">
		<form enctype="multipart/form-data" action="/profile" method="post">
			<img src="/{{user.profile_pic}}" alt="Profile Picture" id="imagePreview"
				class="border border-dark rounded-circle" onclick="document.getElementById('file').click();" width="150"
				height="150">
			<button type="button" class="btn btn-link mt-n4 ml-n4" style="font-size:24px; position: absolute;"
				onclick="document.getElementById('file').click();"><i class="fa fa-edit"></i></button>
			<input type="file" id="file" hidden onchange="return fileValidation()" name="profile_pic" rows="7"
				accept="image/png,image/jpeg,image/jpg,image/gif" required />
			<div class="mt-3">
				<h4 class="mb-3">{{user.name}}</h4>
				<button type="submit" id="file-btn" class="btn btn-outline-primary"
					style="display: none; margin: auto;">Save Picture</button>
			</div>
		</form>
	</div>

	<div class="card-body mt-4">
		<div class="row ml-5">
			<div class="col-sm-3">
				<h6 class="mb-0">Full Name</h6>
			</div>
			<form action="/profile/name" method="post" id="formName" class="col-sm-7">
				<div class="col-sm-7 text-secondary">
					<span id="name">{{user.name}}</span>
					<input type="text" id="edit-name" class="form-control mt-n2" name="name" value="{{user.name}}"
						style="display: none; width: 350px;" required />
				</div>
				<button type="submit" id="save-name-btn" class="btn btn-primary mt-n2"
					style="display: none;">Save</button>
			</form>
			<div class="col-sm-2">
				<button type="button" id="edit-name-btn" class="btn btn-info mt-n2" onclick="changeName()">Edit</button>
			</div>
		</div>
		<hr class="ml-5 mr-5">
		<div class="row ml-5 mt-4">
			<div class="col-sm-3">
				<h6 class="mb-0">Email</h6>
			</div>
			<form action="/profile/email" method="post" id="formEmail" class="col-sm-7">
				<div class="col-sm-7 text-secondary">
					<span id="email">{{user.email}}</span>
					<input type="text" id="edit-email" class="form-control mt-n2" name="email" value="{{user.email}}"
						style="display: none; width: 350px;" required />
				</div>
				<button type="submit" id="save-email-btn" class="btn btn-primary mt-n2"
					style="display: none;">Save</button>
			</form>
			<div class="col-sm-2">
				<button type="button" id="edit-email-btn" class="btn btn-info mt-n2"
					onclick="changeEmail()">Edit</button>
			</div>
		</div>
		<hr class="ml-5 mr-5">
		<div class="row ml-5 mt-4">
			<div class="col-sm-3">
				<h6 class="mb-0">Password</h6>
			</div>
			<div class="col-sm-7 text-secondary">
				<p class="ml-3">************</p>
			</div>
			<div class="col-sm-2">
				<a class="btn btn-info mt-n2" href="/profile/change-password">Change</a>
			</div>
		</div>
		<hr class="ml-5 mr-5">
		{{#if vaild_role}}
		<div  class="text-center">
			<button type="button" class="btn btn-danger col-2" data-toggle="modal" data-target="#exampleModalCenter">Delete Account</button>
		</div>
		{{/if}}
		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Delete Account</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to permanently delete this account?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						<form method="post" action="/profile/{{user.uuid}}?_method=DELETE">
							<button type="submit" class="btn btn-outline-danger">Permanently Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function fileValidation() {
		document.getElementById("file-btn").style.display = "block";
		var fileInput = document.getElementById('file');

		var filePath = fileInput.value;

		// Allowing file type
		var allowedExtensions =
			/(\.jpg|\.jpeg|\.png|\.gif)$/i;

		if (!allowedExtensions.exec(filePath)) {
			alert('Invalid file type');
			fileInput.value = '';
			return false;
		}
		else {
			// Image preview if the uploaded file extension follows the file type.
			if (fileInput.files && fileInput.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					document.getElementById('imagePreview').src = e.target.result;
				};

				reader.readAsDataURL(fileInput.files[0]);
			}
		}
	}

	function changeName() {
		document.getElementById("save-name-btn").style.display = "block";
		document.getElementById("edit-name-btn").style.display = "none";
		document.getElementById("edit-name").style.display = "block";
		document.getElementById("name").style.display = "none";
		document.getElementById("formName").className = "col-sm-8 d-flex justify-content-between";
	}

	function changeEmail() {
		document.getElementById("save-email-btn").style.display = "block";
		document.getElementById("edit-email-btn").style.display = "none";
		document.getElementById("edit-email").style.display = "block";
		document.getElementById("email").style.display = "none";
		document.getElementById("formEmail").className = "col-sm-8 d-flex justify-content-between";
	}
</script>