<link rel="stylesheet" href="/public/css/comments.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<iframe class="video" src="https://www.youtube.com/embed/gfoBC0SSBDQ" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-10">
            <div class="coment-bottom bg-white p-2 px-4">
                <form method="post" action="">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <input type="text" name="comments" class="form-control mr-3" placeholder="Write your comments here..." required>
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </div>
                </form>
                {{#if showComments}}
                    {{#each showComments}}
                        <div class="commented-section mt-2">
                            <div class="d-flex justify-content-between flex-row align-items-center commented-user mb-3">
                                <div>
                                    <h5 class="mr-2 mb-0">{{name}}</h5>
                                    <span class="mt-0 ml-0 text-muted" style="font-size: 13px;">{{ dateCreated }}</span>
                                </div>
                                <div class="dropdown">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i style='font-size:15px' class='fas text-muted'>&#xf142;</i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button type="button" class="dropdown-item" data-toggle="collapse" data-target="#i"  >Edit</button>
                                        {{!-- ?_method=DELETE changes post method to delete method --}}
                                        <form method="post" action="/deleteComment/{{uuid}}?_method=DELETE"> 
                                            <a class="dropdown-item" href="javascript:;" onclick="if (confirm('Confirm delete?')) parentNode.submit();" data-title="Confirm delete?">Delete</a>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-text-sm">
                                <span> {{ comments }} </span>
                            </div>

                            <form method="post" action="/updateComment/{{uuid}}" class="collapse" id="i">
                                <div class="d-flex flex-row add-comment-section mt-4 mb-3">
                                    <input type="text" name="update_comments" class="form-control mr-3 border-top-0 border-left-0 border-right-0" required>
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <button class="btn btn-primary mr-3" type="submit">Save</button>
                                    <button class="btn mr-2 text-muted" type="button" data-toggle="collapse" data-target="#i">Cancel</button>
                                </div>
                            </form>
                            <hr>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{!-- <script>
    function myFunction() {
            document.getElementById("update_comment").style.display = "block";
            document.getElementById("comment").style.display = "none";
            document.getElementById("date").style.display = "none";
            }
    
</script> --}}