<link rel="stylesheet" href="/public/css/comments.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/stream.js"></script>

<div id="data"
	token   ="{{token}}"
	role    ="{{role}}"
	username="{{username}}"
	userId  ="{{userId}}"
	streamId="{{streamId}}">
</div>
<div class="row container-video">
	<video class="col" id="video-remote" autoplay="autoplay"></video>
</div>

<div class="d-flex justify-content-end mt-3">
    {{#if perf}}
        <form method="post" action="/live/end/{{streamId}}?_method=DELETE"> 
            <a class="btn btn-danger" href="javascript:;" onclick="parentNode.submit();">End Stream</a>
        </form>
    {{/if}}
    {{#if cust}}
        <a href="/feedback/create" class="btn btn-danger">Leave Stream</a>
    {{/if}}
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-10">
            <div class="coment-bottom bg-white p-2 px-4">
                <form method="post" action="/live/{{streamId}}">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <input type="text" name="comments" class="form-control mr-3" placeholder="Write your comments here..." required>
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </div>
                </form>
                    <div class="comment-box pr-3">
                    {{#each showComments}}
                        <div class="commented-section mt-2">
                            <div class="d-flex justify-content-between flex-row align-items-center commented-user mb-3">
                                <div>
                                    <h5 class="mr-2 mb-0">{{name}}</h5>
                                    <span class="mt-0 ml-0 text-muted" style="font-size: 13px;">{{ dateCreated }}</span>
                                </div>
                                {{#if validUser}}
                                    <div class="dropdown">
                                        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i style='font-size:15px' class='fas text-muted'>&#xf142;</i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <button type="button" class="dropdown-item" data-toggle="collapse" data-target="#edit{{uuid}}" aria-expanded="false" aria-controls="edit{{uuid}}">Edit</button>
                                            {{!-- ?_method=DELETE is needed --}}
                                            <form method="post" action="/live/delete/{{stream_id}}/{{uuid}}?_method=DELETE"> 
                                                <a class="dropdown-item" href="javascript:;" onclick="if (confirm('Confirm delete?')) parentNode.submit();" data-title="Confirm delete?">Delete</a>
                                            </form>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>

                            <div class="comment-text-sm">
                                <span> {{ comments }} </span>
                            </div>

                            <form method="post" action="/live/update/{{stream_id}}/{{uuid}}" class="collapse" id="edit{{uuid}}">
                                <div class="d-flex flex-row mt-4 mb-3">
                                    <input type="text" name="update_comments" class="form-control mr-3 border-top-0 border-left-0 border-right-0" placeholder="Write your comments here..." required>
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <button class="btn btn-primary mr-3" type="submit">Save</button>
                                    <button class="btn mr-2 text-muted" type="button" data-toggle="collapse" data-target="#edit{{uuid}}">Cancel</button>
                                </div>
                            </form>
                            <hr>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.video-position {
position : absolute;
top      : 35%;
left     : 50%;
transform: translate(-50%, -50%);
}

#local-video {
	position: absolute;
	height  : 30%;
	width   : 30%;
	bottom  : 0px;
	left    : 0px;
}

#remote-video {
	height: 100%;
	width : 100%;
}

.comment-box {
    margin: auto;
    width: 850px;
    height: 500px;
    overflow: auto;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
</style>
