<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="row">
    {{#if venues}}

    <div class="card card-body">
        <h3 class="text-primary">Feedbacks</h3>
        {{#each Feedbacks}}

        <div class="card border-primary mb-2 w-100 mx-auto">
            <div class="card-header">
                <h5 class="card-title">{{Rating}}</h5>
            </div>
            
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <p class="font-italic">Feedback type</p>
                            <p class="text-info">{{feedbackType}}</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <p class="font-italic">Feedback response</p>
                            <p class="text-info">{{feedbackResponse}}</p>
                        </div>
                     {{!-- Display ur reply field here --}}
                        {{!-- <div class="col-sm-12 col-md-6 col-lg-4">
                            <p class="font-italic">Feedback reply</p>
                            <p class="text-info">{{reply}}</p>
                        </div> --}}

                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <p class="font-italic"></p>
                            <a href="/feedback/updateFeedback/{{uuid}}" class="card-link">
                                <i class="fas fa-pencil-alt"></i>
                                Edit
                            </a>
                            <form method="POST" action="/feedback/deleteFeedback/{{uuid}}?_method=DELETE"
                                id="toggle-delete-{{uuid}}">
                                <a href="javascript:;" class="card-link btn-delete"
                                    onclick="if (confirm('Confirm delete?')) parentNode.submit();"
                                    data-title="Confirm delete?">
                                    <i class="far fa-trash-alt"></i>
                                    Delete
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="storyAccordion">
                <div class="card-header" id="heading-{{uuid}}">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{uuid}}"
                        aria-expanded="false" aria-controls="collapse-{{uuid}}">
                        Story<i class="fas fa-chevron-down"></i>
                    </button>
                </div>

                <div id="collapse-{{uuid}}" class="collapse" aria-labelledby="heading-{{uuid}}"
                    data-parent="#storyAccordion">
                    <div class="card-body">
                        {{feedbackResponse}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

{{else}}
<h3>No feedbacks jotted</h3>
{{/if}}