
            <h3>Update Feedback</h3>
            <form action="/feedback/update/{{content.uuid}}" method="post" id="content-form"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="font-italic" for="Rating">Rating</label>
                            <p class="text-info">{{content.Rating}}</p>
                        </div>


                        <div class="form-group mb-4">
                            <label class="font-italic" for="feedbackType">feedback Type</label>
                            <p class="text-info">{{content.feedbackType}}</p>
                        </div>
            
                        <div class="form-group mb-4">
                            <label class="font-italic" for="feedbackGiven">feedbackGiven</label>
                            <p class="text-info">{{content.feedbackGiven}}</p>
                        </div>

                        <div class="form-group mb-4">
                            <label class="font-italic" for="reply">Reply</label>
                            <textarea class="form-control" id="reply" name="reply" required>{{content.reply}}</textarea>
                        </div>

                        <div class="form-group mb-4">
                            <label class="font-italic" for="venueStory">venueStory</label>
                            <textarea class="form-control" id="venueStory" name="venueStory" required>{{content.venueStory}}</textarea>
                        </div>
                        
                     

                    </div>                        
                    </div>
            
                    
                    <button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
                    <a id="btnCancel" class="btn btn-primary" href="/feedback/retrieve">Cancel</a>

                   
            
               
            </form>
            
